* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.grid-card {
  background-color: antiquewhite;
  flex: 0 1 calc(100% / 16);
}
