* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
}

.grid-card {
  cursor: pointer;
  background-color: rgb(103, 238, 242);
  flex: 0 1 calc(100% / 16);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.btn-container {
  height: 56px;
  display: flex;
  padding: 0 24px;
  justify-content: space-between;
  background-color: antiquewhite;
}

.btn {
  cursor: pointer;
  color: #fff;
  background-color: blueviolet;
  font-size: 20px;
  border: none;
  padding: 14px 28px;
  border-radius: 5px;
}
